Kfold5_t5small/
t5small_weights/
Kfold5_t5small/
llamafinetune/
llamafinetune_HP/
Qwen3-8Bfinetune/
t5small_weights/
t5large_weights/
t53b_weights/
final_adapter_3.1-8B-Instruct_r8/
final_adapter_3.1-8B-Instruct_r16/
final_adapter_3.1-8B-Instruct_r32/
final_adapter_Qwen3-8B_r8/
final_adapter_Qwen3-8B_r16/
final_adapter_Qwen3-8B_r32/
final_adapter_Qwen3.5-9B_r8/
final_adapter_Qwen3.5-9B_r16/
final_adapter_Qwen3.5-9B_r32/
ministral8B-2410_r8/
ministral8B-2410_r16/
ministral8B-2410_r32/
old_models/
README coy.md/
backups/
t5-3b_Complete_Dataset/
t5large_Complete_Dataset/
t5small_Complete_Dataset/
t5-3b_Complete_Dataset.zip/
t5large_Complete_Dataset.zip/
t5small_Complete_Dataset.zip/


